.card {
  display: inline-block;
  width: 25%;
  margin-left: 60px;
}
.card .img {
  width: 200px;
  display: inline-block;
}
/* img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
} */
/* .column {
  float: left;
  width: 100%;
  padding: 5px;
  display: inline-block;
} */
.page-wrapper {
  min-height: 100%;
}
.card {
  box-shadow: none;
}
.card-img-top {
  height: 300px;
}
