.card {
  display: inline-block;
  width: 25%;
  margin-left: 15px;
  background-color: #f1f5f8;
}
.card .img {
  width: 200px;
  display: inline-block;
}
/* img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
} */
/* .column {
  float: left;
  width: 100%;
  padding: 5px;
  display: inline-block;
} */
.page-wrapper {
  min-height: 100%;
}
.card {
  box-shadow: none;
}
.card-img-top {
  height: 300px;
}

.card {
  position: relative; 
  /* margin: .8rem 0 1rem 0; */
  background-color: #f1f5f8; 
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px; 
}
