.ShowMyAds__div {
  overflow: hidden;
  margin-bottom: 50px;
}
/* .ShowMyAds__Card {
  display: flex;
  flex-wrap: nowrap;
} */
.ShowMyAds__Card {
  display: flex;
  width: 500px;
}
/* .imgProduct__div {
  background-color: royalblue;
} */
.img-fluid {
  width: 150px;
  height: 230px;
}
.details__div {
  width: 500px;
}
