.contact {
  background-color: #33313d;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 30px;
}
.contact .info {
  width: 50%;
  float: left;
  margin-right: 5%;
}
.contact h2 {
  color: #e2edeb;
  margin-left: 50px;
  margin-top: 20px;
}
.contact h3 {
  color: #e2edeb;
  margin-left: 0px;
  margin-top: 0px;
}

.contact {
  margin-left: 50px;
  color: #808080;
}
.info p,
address {
  margin-left: 50px;
  color: #808080;
}
.info p strong {
  color: #999999;
}

.contact .form {
  margin-top: 35px;
  width: 45%;
  float: left;
  text-align: left;
}
label {
  display: block;
  color: #999999;
  margin-bottom: 10px;
  margin-top: 10px;
}

.form input {
  background-color: #8c8c8c;
  border: 0;
  color: #e9e0e0;
  padding: 10px;
  width: 70%;
  font-size: 20px;
}
.form textarea {
  background-color: #8c8c8c;
  border: 0;
  color: #e9e0e0;
  padding: 10px;
  width: 70%;
  height: 150px;
  font-size: 15px;
}
.form #submit {
  background-color: #7150f5;
  border: 0;
  color: #0a0a0a;
  padding: 15px 15px;
  font-size: 15px;
  font-weight: bold;
  width: 30%;
  border-radius: 5px;
  margin-right: 50px;
}
.footer {
  background-color: #23202e;
  text-align: center;
  color: #b2b2b2;
  overflow: hidden;
}
.footer span {
  margin-top: 6px;
}
.footer ul {
  float: right;
  list-style: none;
  padding-left: 0;
  margin: 5px 0 0;
}
.info li {
  display: inline-block;
  margin-right: 3px;
}
.info p li img {
  filter: brightness(100%);
  margin: 2px;
  padding: 5px;
  width: 40px;
}

.info p li img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
